
.body {
    font-family: $font-body;
    background-color: $header-background;
    letter-spacing: 0.03em;
    font-size: $font-size-body;
    margin: 0;
}


.section {
    padding-top: 94px;
    padding-bottom: 94px;
    margin: 0 auto;
}
.foot {
    background: $footer-background;
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.portfolio {
    background-color: $header-background;
}