.header {
    background-color: $header-background;
    border-bottom: 1px solid $border-header;
    padding-top: 24px;
    padding-bottom: 24px;
    .container {
        display: flex;
        align-items: center;
    }
    }